<template>
  <div class="about">
    <h1>Tick-Tack</h1>
    <p>
      Countdown made with Vue.js 3. Make the most simple, easy and ready to use
      countdown.
    </p>
    <p>
      Check the official repository on
      <a href="https://gitlab.com/daniele.tentoni2/tick-tack">Gitlab</a>!
    </p>
    <h3>How it's builded</h3>
    <p>
      There's the Vuex store behind all: it is demanded to store the actual
      running timer in memory and to restore the correct value after the
      resuming of the application.
    </p>
    <p>
      You can use Start button to start the countdown until the timer doesn't
      reach the 0 value. Before it reachs 0, you can stop it.
    </p>
  </div>
</template>
