<template>
  <va-card>
    <div class="row">
      <div class="flex md6">
        <div class="home">
          <section>
            <TickTack />
          </section>
          <section>
            <va-button v-if="running" @click="stop"> Stop </va-button>
            <va-button v-else @click="start"> Start </va-button>
          </section>
          <section>
            <va-button v-if="!running" @click="reset"> Reset </va-button>
          </section>
          <img alt="Vue logo" src="../assets/logo.png" />
          <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
        </div>
      </div>
      <div class="flex md6">
        <section>
          <p>
            Hope to be the most beatiful and powerful countdown project made
            with Vue.Js 3!
          </p>
        </section>
      </div>
    </div>
  </va-card>
  <setter />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

import { useStore } from "vuex";
import { key } from "@/store";
import TickTack from "../components/TickTack.vue";
import Setter from "@/components/Setter.vue";

@Options({
  components: {
    HelloWorld,
    Setter,
    TickTack,
  },
})
export default class Home extends Vue {
  self = this;
  mounted(): void {
    window.addEventListener("keyup", function () {
      // function (e) { ... }
      // console.log(e.key);
    });
  }
  store = useStore(key);
  get running(): boolean {
    return this.store.getters.isRunning;
  }
  reset(): void {
    this.store.dispatch("reset");
  }
  start(): void {
    this.store.dispatch("start");
  }
  stop(): void {
    this.store.dispatch("stop");
  }
}
</script>
